body {
  margin: 25px;
  
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(223, 215, 215);
}
header .name {
  color: black;
  font-size: 25px;
}
header .ordinary {
  margin-left: 40px;
}
.btn {
  background-color: white;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
}
.btn a {
  color: gray;
}
.ordinary {
  color: grey;
  font-size: 13px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.column {
  flex: 1 0 0;
}
.row {
  display: flex;
}
.container {
  background-color: #343a40;
  color: white;

  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: 40px;
}
.container a {
  color: white;
}
.cont {
  padding-left: 30px;
}

.cont2 a {
  color: rgb(6, 59, 172);
  font-weight: bold;
}
#green {
  color: green;
  text-decoration: none;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
.container2 p {
  font-size: 14px;
}
.thumbnail {
  background-color: #343a40;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.cont2 {
  margin: 10px;
  border: 1px solid gray;
  width: 50%;
}
article {
  padding: 10px;
}

.aside aside {
  padding: 10px;
  margin: 15px;
}
.aside aside:first-child {
  background-color: rgb(231, 222, 222);
}

.aside ul li {
  list-style-type: none;
}
.aside li a {
  color: rgb(13, 149, 194);
  font-size: 13px;
}
.aside {
  position: sticky;
  top: 30px;
}
footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
}
.together {
  font-family: "Times New Roman", Times, serif;
 
}



.column-1{
  flex: 0 0 8.333333%;
}
.column-2 {
  flex: 0 0 16.66666667%;
}
.column-3 {
  flex: 0 0 25%;
}
.column-4 {
  flex: 0 0 33.333333%;
}
.column-5 {
  flex: 0 0 41.66666667%;
}
.column-6 {
  flex: 0 0 50%;
}
.column-7 {
  flex: 0 058.22222%;
}
.column-8 {
  flex: 0 0 66.66666667%;
}
.column-9 {
  flex: 0 0 75%;
}
.column-10 {
  flex: 0 0 83.111111%;
}
.column-11 {
  flex: 0 0 91.66666667%;
}
.column-12 {
  flex: 0 0 100%;
}

