body {
  margin: 25px;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(223, 215, 215);

}header .name {
  color: black;
  font-size: 25px;
  
}
header .ordinary {
  margin-left: 40px;
}
.btn {
  background-color: white;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
 
  
}
.btn a {
  color: gray;
}
.ordinary {
  color: grey;
  font-size: 13px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.column {
  flex: 1 0 0;
}
.row {
  display: flex;
}
.container {
  background-color: #1d1a1a;
  color: white;
  
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin: 40px;
}
.container a {
  color: white;
}
.cont {
  padding-left: 30px;
}