body {
  margin: 0;
}
nav {
  background-color: tomato;
  min-height: 60px;
}
header {
  background-color: antiquewhite;
  min-height: 150px;
}
main {
  background-color: burlywood;
  min-height: 350px;
}
aside {
  background-color: rgb(97, 228, 97);
  min-height: 350px;
}
footer {
  background-color: cornflowerblue;
  min-height: 80px;
}
.row {
  display: flex;
}
.column {
  /* flex: 1 0 0; */

/* полная версия */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
aside {
  width: 25%;
}


.placeholder {
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}