nav {
  background-color: tomato;
  min-height: 60px;
}
header {
  background-color: antiquewhite;
  min-height: 150px;
}
main {
  background-color: burlywood;
  min-height: 350px;
}
aside {
  background-color: green;
  min-height: 350px;
}
footer {
  background-color: cornflowerblue;
  min-height: 80px;
}
.row {
  display: flex;
}
aside {
  width: 25%;
}
main {
  width: 75%;
}


.placeholder {
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}