nav {
  background-color: tomato;
  min-height: 60px;
}
header {
  background-color: antiquewhite;
  min-height: 150px;
}
main {
  background-color: burlywood;
  min-height: 350px;
}
footer {
  background-color: cornflowerblue;
  min-height: 80px;
}